body{
	background-color: #E0FFFF;
}


h1{
	font-size: 40px;
}

button{
	margin: 20px;
	color: blue;
	width: 90px;
	height: 40px;
	border-radius: 20px;
	background-color: #7FFFD4;

}


form{
	margin: 10px;

}

input{
	margin: 10px;
	float: right;
}

#cartoon-form{
	float: right;
}

#cartoonsView{

top: 50%;
left: 50%;


}

.gifDiv{
	float: left;
	margin: 20px;
}


